body 
{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 53, 52);
  color: #333;
  font-family: 'calibri', sans-serif;
  font-weight: 400;
}

.container {
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  background-color: #d3c2b3;
  /* keeps container size responsive */
  flex: 0 0 80%;
}

#quoteBtn {
  border: none;
  color: #fff;
  background: #d89156;
  font-size: 1.3rem;
  padding: .25rem .5rem;
  border-radius: 7px; 
  cursor: pointer;
  outline: none;
}

#quoteBtn:hover {
  background: #352416;
  color: rgb(247, 241, 220);
  transition: all .5s ease-in-out;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #d89156;
  margin: 1rem;
  padding: .5rem;
}

#author {
  color: #352416;
}